body {
	font-family: Verdana, sans-serif;
	text-align:justify
}
div.document {
	width:40em;
	margin-top:1cm;
	margin-bottom:1cm;
	margin-left:auto;
	margin-right:auto;
}
h1.title {
	background-color: #788dbf;
	border-color: #495473;
	color: #000000;
    text-align: center;
	border-bottom: none;
	margin-top: 0;
}
h1 {
	border-bottom: solid;
	margin-top: 2em;
	color: #495473;
}
h2 {
	margin-top: 1.5em;
	color: #495473;
}
h3 {
	margin-top: 1.5em;
	color: #495473;
}
pre {
	margin-top: 1.5em;
	background-color: #e0e0f0;
	font-family: Courier, monospace;
}
p.topic-title {
	font-weight: bold;
}
dt {
	font-weight: bold;
	margin-top: 1em;
}
